<!DOCTYPE html>
<html>
    <head>
        <title>Crow Details</title>
        <meta charset="utf-8">
        <% include links %>
    </head>
    </head>
    <body>
        <div class="container readWrapper">
            <a href="/"><button type="button" name="button">Home</button></a>
            <h1><%= crow.name %> the Crow</h1>
            <h2>Personality: <%= crow.personality %></h2>
            <h2>Age: <%= crow.age %></h2>
            <div class="row">
                <form class="two columns" action="/destroy/<%= crow._id %>" method="post">
                    <input class="deleteBtn" type="submit" name="submit" value="Delete">
                </form>
                <a href="/edit/<%= crow._id %>"><button type="button" name="button">Edit</button></a>
            </div>
        </div>
    </body>
</html>
